@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0 5rem;
  background-color: rgb(11, 11, 11);
  color: white;

  &::-webkit-scrollbar {
    display: none;
  }
}
