@import './utilities.scss';

.aboutme {
  @extend .flex, .flex--align-center, .vheight-full, .width-full;

  &--content {
    width: 50%;
    margin: auto;

    & > h2 {
      line-height: 1.6;
    }

    & > p {
      line-height: 1.4;
    }
  }

  &--image {
    width: 30%;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    @extend .flex, .flex--align-center, .flex--justify-center;
    
    & > img {
      margin: 0 auto;
      border-radius: 20px;
      height: 70%;
      aspect-ratio: 0.55;
    }
  }
}

@media (max-width: 1080px) {
  .aboutme {
    display: block;
    padding: 1.1rem;
    width: auto;
    height: auto;
    position: relative;

  
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      opacity: 0.1;
      display: block;
      position: absolute;
      background: url('../assets/aboutme.webp');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--content {
      width: auto;
      margin: 0;
    }

    &--image {
      display: none;
    }
  }
}