@import './utilities.scss';

.hero {
  @extend .flex, .width-full, .flex--justify-between;
  height: calc(100vh - 60px);

  &-content {
    width: 40%;
    align-self: center;
  }

  &-image {
    @extend .flex, .flex--align-center, .flex--justify-center, .width-half;
    width: 50%;

    & > img {
      border-radius: 0 25%;
    }
  }
}