@import './utilities.scss';

.hero {
  @extend .flex, .width-full;
  height: calc(100vh - 60px);

  &-content {
    @extend .width-half;
    align-self: center;
  }

  &-image {
    @extend .flex, .flex--align-center, .flex--justify-center, .width-half;
    width: 50%;
  }
}