@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import './utilities.scss';

.navbar {
  @extend .flex, .flex--align-center, .flex--justify-between;
  height: 60px;

  &-logo {
    font-family: 'Permanent Marker', cursive;
    @extend .text-bold;
  }

  &-links {
    @extend .flex, .flex--align-center, .flex--justify-between;
    width: 50%;
  }

  &-link {
    list-style: none;
    padding: 5px 0;

    & > a {
      text-decoration: none;
      color: white;

      &:hover {
        @extend .text-bold;
      }
    }
  }
}
